@{
    ViewData["Title"] = "không có quyền truy cập";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="text-center">
    <h1 class="text-danger">TỪ CHỐI TRUY CẬP</h1>
    <h4 class="text-danger">Bạn Không Có Quyền Để Xem Trang Này.</h4>
    <img src="~/app-assets/images/gallery/noaccess.jpg" style="height: 300px; width: 300px"/>
</div>
</body>
</html>

