@model MockProject.Models.ViewModels.UserEditProfile
@{
    ViewBag.Title = "Change PassWord";
    Layout = "_Layout";
}
<div class="login-box">
    <div class="login-logo">
        <a >Change Password</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Change your password</p>

            <form asp-controller="User" asp-action="ChangePass" method="post" autocomplete="off">

                <div class="text-danger">@ViewBag.Message</div>
                <div class="input-group mb-3">
                    <input asp-for="PasswordCurrent" class="form-control" placeholder="Password Current"/>
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>

                </div>



                <div class="input-group mb-3">
                    <input asp-for="PasswordNew" class="form-control" placeholder="Password new"/>
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="Password Confirm"/>
                    <div class="input-group-append input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Change</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancel</a>

                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->