
@{
    ViewData["Title"] = " Create User ";
    
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="container">

                        <form asp-action="" enctype="multipart/form-data">
                            <p>Please select only excel files</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="file" id="fUpload" name="files" class="form-control"/>
                                </div>
                                <div class="col-md-8">
                                    <input class="btn btn-success" type="button" id="btnUpload" value="Upload"/>
                                </div>
                            </div>
                            <br/>
                            <div id="dvData"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnUpload').on('click',
            function() {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fUpload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                } else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }
                var fdata = new FormData();
                var fileUpload = $("#fUpload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/Admin/Users/OnPostImport",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
                            $('#dvData').html(response);
                        }
                    },
                    error: function(e) {
                        $('#dvData').html(e.responseText);
                    }
                });
            });
    });
</script>