@model object

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h2>Home</h2>

<div>
    <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-filter="1">View admin list</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-filter="2">View teacher list</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-filter="3">View student list</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Users" asp-action="Create" asp-route-filter="3">Create new user</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Faculties" asp-action="Create" asp-route-filter="3">Create new faculty</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Subjects" asp-action="Create" asp-route-filter="3">Create new subject</a>
</div>
<div>
    <a asp-area="Admin" asp-controller="Semesters" asp-action="Create" asp-route-filter="3">Create new semester</a>
</div>