@model Class

@{
    ViewData["Title"] = "Edit class";
}

<h1>Edit @Model.NameClass</h1>
<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
            
                                <div class="form-group">
                                    <label asp-for="NameClass" class="control-label"></label>
                                    <input asp-for="NameClass" class="form-control" />
                                    <span asp-validation-for="NameClass" class="text-danger"></span>
                                </div>
            
                                <div class="form-group">
                                    <label asp-for="Year" class="control-label"></label>
                                    <input asp-for="Year" class="form-control" />
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
            
                                <div class="form-group">
                                    <label asp-for="FacultyId" class="control-label"></label>
                                    <input asp-for="FacultyId" class="form-control" />
                                    <span asp-validation-for="FacultyId" class="text-danger"></span>
                                </div>   
            
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
